body{
    background-color:#B61616 ; /*Muda cor de Fundo*/
    color: #D9D9D9; /*Mudar a cor da  letra*/
    display:flex; /*Organizar os elementos*/
    justify-content: space-around; /*Cria espaço igual entre os elementos */
    margin-top:150px; /*Define a margem do topo*/ 
}
h1{
    font-size: 32px; /*Altera tamanho da fonte*/


}